<div class="bg-image container-fluid g-0 pt-5" [ngStyle]="{'background-image': 'url(./assets/bg-wallpaper.png)'}">

    <section class="row g-0 mb-3">
        <article class="col-12 align-self-center text-center">
            <h2 class="colorPrimaryAmarillo">Preguntados (Ingles!)<br></h2>
            <h4>Primero la primer carta del mazo <br></h4>
            <h4>Despues adivina si la siguiente sera mayor o menor <br></h4>
            <h5>Gana un punto por cada carta que adivines!</h5>
        </article>
    </section>

    <section class="row g-0 mb-3">
        <article class="col-12 align-self-center text-center">
            <app-rueda-preguntas (giroRuleta)="quitarRueda($event)" *ngIf="mostrarRueda" />
        </article>
    </section>
</div>