<div class="bg-image container-fluid g-0 pt-5" [ngStyle]="{'background-image': 'url(./assets/bg-wallpaper.png)'}">
    <section class="row g-0 d-flex justify-content-center">
        <article class="col-10 sobremi text-center p-2">
            <img class="image-mia" src='./assets/yo/(yo).jpg' />
            <h3>Hola, me llamo Federico Gutierrez</h3>
            <h5>Soy desarrollador backend.</h5>
            <p>
                Tengo 23 años y vivo en Buenos Aires, Argentina. Descubri la programacion a los 13 años con unas
                necesidades diferentes a las que tengo hoy, mi objetivo era poder crear un servidor para un juego
                multijugador llamado GTA: San Andreas, mas precisamente SAMP, una herramienta creada para la comunidad
                para hacer posible jugar en linea. En ese entonces no sabia lo que era programacion pero me las
                arreglaba con la poca documentacion que se podia encontrar en internet para asi poder programar en un
                lenguaje llamado Pawn, derivado de C. Aqui la pagina Wikipedia del Lenguaje.
                <a class="btn y-0" target="_blank" title="PAWN" href="https://es.wikipedia.org/wiki/Pawn"
                    role="button"><fa-icon [icon]="faWikipedia"></fa-icon></a>
            </p>
            <br>
            <p>Asi fue como despues, luego de la influencia de mis padres accedi a comenzar un estudio en la Secundaria
                Jose Hernandez N°7, en Avellaneda y sin saberlo, ni sabiendo lo que era programacion, eleji una rama de
                estudio que justamente se dedicaba al mundo de la programacion.</p>
            <br>
            <h5 class="colorPrimaryAmarillo">Jodete</h5>
            <p>Juego replica del UNO pero con cartas españolas, donde tenes que jugar una del mismo palo o del mismo
                numero, siendo asi el que gana el que se queda sin cartas. <br>Solo se puede ganar si en la mano
                anterior a la que estas por entregar la ultima anuncias: 'ULTIMA CARTA!'.</p>
        </article>

    </section>
</div>